<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">ETHunes</a>
  </div>
  <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select>
</div>

<div class="header-container">
  <nb-actions size="small">

    <nb-action class="control-item">
      <nb-search type="rotate-layout"></nb-search>
    </nb-action>
    <nb-action class="user-action">
      <div *ngIf="account$|async as account">
        <nb-user (click)="showProfile(account)" [onlyPicture]="userPictureOnly" [picture]="'https://gravatar.com/avatar/'+(account|slice:2:34|lowercase)+'?s=400&d=robohash'" [name]="account">
        </nb-user>
      </div>
      <div *ngIf="!(account$|async)">
        <button nbButton (click)="connect()">Connect</button>
      </div>
    </nb-action>
  </nb-actions>
</div>
